* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    height: 100vh;
    width: 100%;
}
header {
    display: flex;
    justify-content: center;
    padding: 50px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav button,#addBookButton {
    height: 50px;
    width: 100px;
    font-weight: bold;
}
footer {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.bookInfo {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bookInfo #booksName,#booksAuthor {
    width: 150px;
}
.bookInfo #booksPages {
    width: 50px;
}
.bookShelf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.bookShelf .singleBook {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    width: 140px;
    border: 1px solid black;
    position: relative;
    font-size: 1.5vh;
    padding-top: 40px;
    text-align: center;
    background: white;
}
.removeBookButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    border: 0;
}
.isReadStatus {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    margin-top: 5px;
    padding: 20px;
}
.addBookMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 30px;
    z-index: 1;
    border: 1px solid black;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background: white;
}
.addBookMenu .closeBookMenu {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0;
    animation-name: animatedown;
    animation-duration: 0.4s;
}
.addBookMenuBtn {
    margin-bottom: 30px;
}

@-webkit-keyframes animatetop {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}
.errorMsg {
    height: 20px;
    padding-top: 15px;
    color: red;
    font-weight: bold;
    display: none;
}